---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import PainPointsSection from '../components/PainPointsSection.astro';
import CommandersSection from '../components/CommandersSection.astro';
import PricingSection from '../components/PricingSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import DemoSection from '../components/DemoSection.astro';
import FAQSection from '../components/FAQSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main id="inicio">
		<HeroSection />
		<PainPointsSection />
		<CommandersSection />
		<PricingSection />
		<TestimonialsSection />
		<DemoSection />
		<FAQSection />
	</main>
	<Footer />
</Layout>
